<div class="font-styling">

  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <h1 class= "text-center">New task</h1>
    <%= render 'form' %>
    <div class="link-container">
      <div class="link-font"><%= link_to 'Back', tasks_path %></div>
    </div>


  </div>

  <div class="col-md-4">
  </div>

</div>
