<div class="hero-about">
  <div class="row">
      <div class="col-md-3">
      </div>

      <div class="col-md-6">
      <h1 class="content-header-style content-body-center">About Us</h1>
      <p class="content-desc-style">You'll never have to worry about forgetting important events or tasks again.</p>
        <div class="content-body-style">
          <p>Founded in June of 2015 and based in Kuala Lumpur, Malaysia, TeaCup is a trusted companion that helps people remember the important things in their everyday life — online or from a mobile phone or tablet.</p>
          <p>Whether its a simple task, an upcoming event, or even a fun video, TeaCup is a simple and unique way of remembering the things that matter, while providing the best user experience, all for free, anywhere and anytime.</p>
        </div>
      </div>

      <div class="col-md-3">
      </div>
  </div>
</div>
